* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.body {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 600px) minmax(auto, 278px) 1fr;
    grid-template-rows: 54px 1fr;
    grid-template-areas:
        "header header header header"
        ".  feed side-bar  .";
    grid-column-gap: 30px;
}

.header-container {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 54px;
    align-items: center;
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}



.header {

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99999;

    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    width: 100%;
    grid-area: header;
}

.logo {
    font-family: 'Bungee shade', cursive;
    font-size: 2rem;
    line-height: normal;

    height: 54px;
    line-height: 1.7;
    color: #606060;
    text-decoration: none;
    padding-right: 10px;
}

.search-form {}

.search-form__input {
    border-radius: 5px;
    border: #aaaaaa solid 1pt;
    text-align: center;
    height: 28px;
    width: 160px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav__list {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.mine-nav__item {
    padding-right: 20px;
}

.mine-nav__item:last-child {
    padding-right: 0;
}

.main-nav__icon {
    stroke-width: 15%;
    height: 22px;
    width: 22px;

}



.feed {

    padding-bottom: 60px;
    max-width: 600px;
    grid-area: feed;
    justify-self: end;
}

.post {
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}


.post__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
}

.op__icon {
    height: 28px;
    width: 28px;
}

.op__name {
    text-decoration: none;
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding: 10px;
    width: 300px;
}

.post__func-btn {
    margin-left: auto;
    margin-right: 15px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.op__icon_func-btn {
    width: 16px;
    height: 16px;
}

.post__pic {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
}



.post__interact {
    height: 100%;
}

.post__btns {
    display: flex;
}

.post__btn {
    padding: 8px 8px 8px 12px;
    border: none;
    background: none;
    cursor: pointer;
}

.post__btn:last-child {
    margin-left: auto;
}

.btn-pic {
    height: 24px;
    width: 24px;
}

.comment-section {
    display: flex;
    flex-flow: column nowrap;

}

.like-number {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding-left: 12px;
    padding-bottom: 2px;
}

.comments-list {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 12px;
}

.comment-name {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
}

.comment-text {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    padding-left: 7px;
}

.post-form {
    margin-top: 8px;
    padding-left: 0px;
    margin-bottom: 8px;
}

.post-form__input {
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    border: none;
    border-top: 1px solid #dbdbdb;
}

.side-bar {
    /*

    position: sticky;
    top: 88px;
    z-index: 9999999;
*/

    margin-left: 15px;
    margin-top: 30px;
    grid-area: side-bar;
    justify-self: start;
}

.profile-info {
    height: 50px;
    display: flex;
    margin-bottom: 20px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.description {
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}

.profile-info__nickname {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;

}

.profile-info__name {
    color: #999999;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 0.8;


}

.main-stories {
    margin-top: 10px;
    height: 220px;
    width: 280px;
    background-color: white;
    border-radius: 5px;
    border: #dbdbdb solid 1pt;
}

.main-stories__header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.side-bar-header__left {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 0.8;
}

.side-bar-header__right {
    cursor: pointer;
    color: #262626;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 0.8;
}

.stories-list {
    margin-left: 15px;
    height: 187px;
    overflow: auto;
    list-style: none;
}

.stories-item {

    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 3px;
}


.stories-item__icon {
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.stories-item__name {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.stories-item__time {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 0.8;

}

.stories-item__wrapper {
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.recomendation {
    height: 170px;
    margin-top: 10px;
    width: 280px;
    background-color: white;
    border-radius: 5px;
    border: #dbdbdb solid 1pt;
}

.recomendation__header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}


.recommendation-list {
    margin-left: 15px;
    height: 190px;
    list-style: none;
}

.recommendation-item {

    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 3px;
}


.recommendation-item__wrapper {
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.recommendation-item__icon {
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.recommendation-item__name {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.recommendation-item__followed {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 0.8;
}


.tags {
    height: 40px;
    width: 250px;
}

.tags-nav__list {
    margin-top: 5px;
    margin-left: 5px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.tags-nav__item {
    padding-right: 10px;
}

.tags-nav__link {
    text-decoration: none;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 0.8;

}



/*MEDIA*/




@media (max-width: 870px) {
    .body {
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 54px 1fr;
        grid-column-gap: 0;
        grid-template-areas:
            "header header header"
            ".  feed   ."
    }

    .side-bar {
        display: none;
    }

    .search-form {
        display: none;
    }

    .header-container {
        padding: 0 10px;
        max-width: 600px;
        margin: 0;
    }
}

@media (max-width: 400px) {
    .main-nav {
        display: none;
    }

    .header-container {

        justify-content: center;
    }

    .post {
        margin-top: 10px;
    }

    .feed {
        padding-bottom: 10px;
    }
}
